<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This site was built by Nikko Vichert.
  </p>
  <br />
  <p>
    Formerly a landscape construction foreman, Nikko was forced into a career change due to problems with his hands.
  </p>
  <br />
  <p>
    From building things with his hands to building them with his mind and keyboard, it has been quite the transition. Fingers crossed for the future!
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Nikko.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Nikko Vichert</h2>
      <br />
      <p>
        Nikko Vichert is a student software engineer at Firehose.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />


</div>